<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello There!</h2>
    <h3>List of users</h3>
    <div>
        <% users.map((obj,index)=>{ %>
            <div style="background-color: <%= index % 2 === 0 ? 'aliceblue' : 'orange' %>; padding:5px 0px;">
            <div><%= obj.id %></div>
            <div><%= obj.username %></div>
            <div><%= obj.email %></div>
           </div> 
        <% })%>
    </div>
</body>
</html>