<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <h3 class="text-3xl text-white py-5">Create User</h3>
        <form method="post" action="/create" class="text-white">
            <input class="px-3 py-2 rounded-lg border-2 bg-transparent border-zinc-800 outline-none" type="text" placeholder="username" name="username">
            <input class="px-3 py-2 rounded-lg border-2 bg-transparent border-zinc-800 outline-none" type="text" placeholder="email" name="email">
            <input class="px-3 py-2 rounded-lg border-2 bg-transparent border-zinc-800 outline-none" type="text" placeholder="password" name="password">
            <input class="px-3 py-2 rounded-lg border-2 bg-transparent border-zinc-800 outline-none" type="number" name="age" placeholder="age">
            <input type="submit" value="Create" class="px-2 py-1 rounded bg-blue-500">
        </form>
    </div>
</body>

</html>