<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit file</title>
</head>

<body>
    <form action="/edit/<%=fileName%>" method="post">
        <label for="name">Enter new file name:</label>
        <input name="newName" type="text" placeholder="Enter name here">
        <button>Submit</button>
    </form>
</body>

</html>