<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen flex flex-col justify-center items-center gap-5 bg-zinc-900 text-white">
        <h1 class="text-4xl">Yolo URL Shortener</h1>
        <form method="post" action="/url">
            <input type="text" placeholder="paster url here" name="link" class="text-black px-2 py-1 rounded-md">
            <input type="submit" value="ShortenðŸ¤ðŸ»" class="text-xl border bg-red-500 cursor-pointer px-2 py-1 rounded-md">
        </form>
    </div>
</body>

</html>