<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/uploadMultiple" method="post" enctype="multipart/form-data">
    <input type="file" name="myFile1">
    <input type="file" name="myFile2">
    <input type="submit" value="upload">
   </form>
</body>
</html>
